.AppWrapper {
    display: grid;
    max-width: 1200px;
    margin: auto;

    grid-template-areas:
    "navbar navbar"
    "sidePanel activePanel";


    grid-template-rows: 60px 1fr;
    grid-template-columns: 5fr 7fr;
    grid-gap: 10px;

}

.Navbar{
    grid-area: navbar;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.Navbar-item-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SidePanel{
    grid-area: sidePanel;
    background-color: aqua;
}
.SidePanel img{
    max-width: 500px;
}
.ActivePanel{
    grid-area: activePanel;
    background-color: cadetblue;
}

